<!DOCTYPE html>
<html lang="en">

<head>
    <title>Contact page</title>
    <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet" type="text/css">
</head>

<body>

            <div class="h1">
              <h1><img src="http://www.planwallpaper.com/static/images/cool_cat.jpg" style="width:500px;height:250px;"></h1>

                <h2>Name</h2>
                <p>Henrik Klein</p>

                <h2>Adress</h2>
                <p>Kungsgatan 50</p>

                <h2>Email</h2>
                <p>henrik.klein12@gmail.com</p>

                <h2>Number</h2>
                <p>070 622 31 65</p>
        </div>
</body>

</html>
