<!DOCTYPE html>
<html lang="en">

<head>
    <title>My Awesome Presentation</title>
    <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet" type="text/css">
</head>

<body>

        <div class="h1">
          <h1><img src="http://www.planwallpaper.com/static/images/cool_cat.jpg" style="width:500px;height:250px;"></h1>

                <h2>About me:</h2>
                <p>I am the coolest cat in the whole universe.
                   I can make people laugh using my cool glases.
                   I can also kill people by just put on my glasses.
                   I am the boss...</p>
        </div>
</body>

</html>
