<!DOCTYPE html>
<html lang="en">

<head>
    <title>Edit</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <a href="/"
    <button type="button" class="btn btn-success">Home</button>
    </a>
</head>

<body>

  <form action="/doneedit" method="POST">
  <div class="col-sm-10">
    <label>Title:</label>
    <input type="text" class="form-control" name="title" placeholder="{{title}}">
  </div>
  <div class="col-sm-10">
  <label>Author:</label>
  <input type="text" class="form-control" name="author" placeholder="{{author}}">
</div>

<div class="col-sm-10">
<label>Content:</label>
<textarea type="text" rows="4" cols="50" class="form-control" name="content" placeholder="{{content}}"></textarea>
</div>

<a href="/doneedit"
<button type="button" class="btn btn-success">Save</button>
</a>
</body>

</html>
