<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <a href="/"
    <button type="button" class="btn btn-success">Home</button>
    </a>
</head>

<body>

  <form>
  <div class="col-sm-10">
    <h2>Title: {{title}}</h2>
    <h2>Author: {{author}}</h2>
    <h4>Content: {{content}}</h4>
  </div>


</form>
<a href="/forms/{{title}}/edit"
<button type="button" class="btn btn-success">Edit</button>
</a>
<a href="/api/forms/{{title}}"
<button type="button" class="btn btn-success">See in JSON</button>
</a>
</body>

</html>
